@import 'colors';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
  text-align: center;
}

  .user-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 30px;

    h2{
      font-weight: bold;
      flex-direction: column;
    }

   
    .address{
      border: 1px solid grey;
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
    
      p{
        margin: 2px;
      }

    }

  }

